<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
https://www.springframework.org/schema/tx/spring-tx.xsd">

<tx:annotation-driven />
	
	<!-- Data Source -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/demo"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
		
	<!-- Session factory bean -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="sessionFactory">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.thevarungupta.spring_orm_hibernate.entities.Employee</value>
			</list>
		</property>
	</bean>	
		
	<!-- HibernateTemplate Bean -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	

	<!-- Employee Dao -->
	<bean  class="com.thevarungupta.spring_orm_hibernate.dao.EmployeeDao" name="employeeDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<!-- TransactionManager Bean-->
	<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

		
        
</beans>